.info {
  margin-top: 80px;
  height: 70vh;
}
@media (max-width: 767px) {
  .info .container .box {
    width: 100%;
  }
}
/* Start Store icon */
.store-icon {
  padding-top: 60px;
  padding-bottom: 60px;
}
.store-icon .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.store-icon .container .box {
  margin-left: 20px;
  text-align: center;
}
.store-icon .container .box i {
  font-size: 20px;
  margin-bottom: 15px;
  color: #444;
}
.store-icon .container .box p {
  color: #444;
}
/* End Store Icon */
/* Start Store Items */
.store-items {
  padding-top: 60px;
  padding-bottom: 60px;
}
.store-items .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.store-items .container .box {
  box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.34);
  border-radius: 3px;
}
.store-items .container .box .image {
  width: 100%;
  height: 250px;
}
.store-items .container div:nth-of-type(1) > div:nth-last-of-type(1) {
  background-image: url(../image/store/image1.jpg);
}
.store-items .container div:nth-of-type(2) > div:nth-last-of-type(1) {
  background-image: url(../image/store/image2.jpg);
}
.store-items .container div:nth-of-type(3) > div:nth-last-of-type(1) {
  background-image: url(../image/store/image3.jpg);
}
.store-items .container div:nth-of-type(4) > div:nth-last-of-type(1) {
  background-image: url(../image/store/image4.jpg);
}
.store-items .container div:nth-of-type(5) > div:nth-last-of-type(1) {
  background-image: url(../image/store/image5.jpg);
}
.store-items .container div:nth-of-type(6) > div:nth-last-of-type(1) {
  background-image: url(../image/store/image6.jpg);
}
.store-items .container div:nth-of-type(7) > div:nth-last-of-type(1) {
  background-image: url(../image/store/image7.jpg);
}
.store-items .container div:nth-of-type(8) > div:nth-last-of-type(1) {
  background-image: url(../image/store/image8.jpg);
}
.store-items .container div:nth-of-type(9) > div:nth-last-of-type(1) {
  background-image: url(../image/store/image9.jpg);
}
.store-items .container .box .image {
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.store-items .container .box .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(239, 237, 237, 0.9);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.store-items .container .box:hover .image::before {
  opacity: 1;
}
.store-items .container .box .image::after {
  content: "Buy Now";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 3px 20px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.store-items .container .box:hover .image::after {
  opacity: 1;
  top: 50%;
}
.store-items .container .box h2 {
  padding: 10px 10px 4px 10px;
  font-size: 22px;
  color: #444;
  font-weight: 400;
}
.store-items .container .box p {
  padding: 0px 10px 10px;
}
/* End Store Items */
